/* GLobal variable list to set font and sizing 

:root {
    --Colour-0: #000000;
    --Colour-1: #6b0504;
    --Colour-2: #a31621;
    --Colour-3: #b4464f;
    --Colour-4: #f9e0d9;
    --Colour-5: #fdffff;
}

*/


/* Option 2 */

:root {
    --Colour-0: #011627;
    --Colour-1: #812feb;
    --Colour-2: #7fa2c8;
    --Colour-3: #7fc8c5;
    --Colour-4: #ebebeb;
    --Colour-5: #fdfffc;
}

h1 {
    text-align: center;
    color: var(--Colour-1);
    font-size: 42px;
}

h2 {
    text-align: center;
    color: var(--Colour-0);
    font-size: 36px;
}

html {
    font-family: Cooper BT, Bahnschrift;
}

div {
    background-color: var(--Colour-5);
    padding: 2%;
    text-align: justify;
    align-items: center;
    border: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: var(--Colour-0);
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 5px;
}

p {
    color: var(--Colour-1);
    font-size: large;
    text-align: center;
}

label {
    color: var(--Colour-3);
    font-size: large;
    display: block;
    padding: 5px;
}

fieldset {
    border-style: none;
}

span {
    background-color: var(--Colour-1);
    padding: 5px;
    display: block;
    margin: 10px;
    border-radius: 5px;
}

input[type=text],
input[type=password],
input[list] {
    display: block;
    border-style: none;
    width: 100%;
    background-color: var(--Colour-5);
    border-radius: 3px;
    height: 25px;
}


/* Set a style for all buttons */

.buttonSpan {
    background-color: var(--Colour-4);
    padding: 0px;
    display: block;
    margin: 20px 100px 20px 100px;
    border-radius: 10px;
}

input[type=button] {
    color: var(--Colour-0);
    background-color: var(--Colour-4);
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
}


/* Add a hover effect for buttons */

input[type=button]:hover {
    background-color: var(--Colour-2);
}