/* GLobal variable list to set font and sizing */

:root {
    --Colour-0: #011627;
    --Colour-1: #812feb;
    --Colour-2: #7fa2c8;
    --Colour-3: #7fc8c5;
    --Colour-4: #ebebeb;
    --Colour-5: #fdfffc;
    --Alert: #ffd1dc;
    --Highlight: #fdfd96;
    --Ready: #98fb98;
    --Undefined: #ffb347;
}

h1 {
    text-align: center;
    color: var(--Colour-1);
    font-size: 42px;
}

h2 {
    text-align: center;
    color: var(--Colour-0);
    font-size: 36px;
}

html {
    font-family: Cooper BT, Bahnschrift;
}

body {
    margin: 0px;
}

div.default {
    background-color: var(--Colour-5);
    padding: 2%;
    text-align: justify;
    align-items: center;
    border: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: var(--Colour-0);
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 5px;
}

p {
    color: var(--Colour-1);
    font-size: large;
    text-align: left;
}

label {
    color: var(--Colour-3);
    font-size: large;
    display: block;
    padding: 5px;
}

fieldset {
    border-style: none;
}


/* ---------------------- Buttons ------------------------------- */


/* Set a style for all buttons */

.buttonSpan {
    background-color: var(--Colour-4);
    padding: 0px;
    display: block;
    margin: 20px 100px 20px 100px;
    border-radius: 10px;
}

input[type=button] {
    color: var(--Colour-0);
    background-color: var(--Colour-4);
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
}


/* Add a hover effect for buttons */

input[type=button]:hover {
    background-color: var(--Colour-2);
}


/* Navigation Buttons */

.navButton {
    background: var(--Colour-5);
    color: var(--Colour-0);
    font-size: 42px;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    border-radius: 3px;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

.navButton:hover {
    background: var(--Colour-0);
    color: var(--Colour-5);
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}


/* ---------------------- Sidebar -------------------------------
https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp */


/* The side navigation menu */

#resName {
    color: var(--Colour-5);
    font-size: large;
    font-weight: bold;
    text-align: left;
    margin: 10px;
    padding: 0px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--Colour-0);
    position: fixed;
    height: 100%;
    overflow: auto;
}


/* Sidebar links */

.sidebar a {
    display: block;
    color: var(--Colour-2);
    padding: 16px;
    text-decoration: none;
}


/* Active/current link */

.sidebar a.active {
    background-color: var(--Colour-4);
    color: var(--Colour-1);
}


/* Links on mouse-over */

.sidebar a:hover:not(.active) {
    background-color: var(--Colour-5);
    color: var(--Colour-0);
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    margin-top: 20px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* ---------------------- Breadcrumb -------------------------------
https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */


/* Style the list */

ul.breadcrumb {
    margin-left: 200px;
    margin-top: 0px;
    padding: 10px 16px;
    list-style: none;
    background-color: var(--Colour-4);
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--Colour-1);
    content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: var(--Colour-1);
    text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: var(--Colour-0);
    text-decoration: underline;
}


/* ----- Display for Modal pop ups ---------------- */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 0px none;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header,
.modal-footer {
    padding: 2px 16px;
    border: none;
    border-radius: 0px;
    background-color: var(--Colour-0);
}

.modal-body {
    border: none;
    padding: 2px 16px;
}

.mHeader {
    color: var(--Colour-3);
}

#mDetails {
    color: var(--Colour-0);
    font-weight: bold;
}

.mButton,
.mButtonCancel {
    width: 25%;
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: var(--Colour-3);
}

.mButton:hover,
.mButton:focus,
.mButtonCancel:hover,
.mButtonCancel:focus {
    background-color: var(--Colour-2);
    color: var(--Colour-0);
    cursor: pointer;
}

.mButtonCancel {
    float: right;
}